<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity
            android:name=".StudentVisitsScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.test.StudentVisitsScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DateChoiseScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.test.DateChoiseScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkExhibitingResultScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.test.WorkExhibitingResultScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherStudentChoiseScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.test.TeacherStudentChoiseScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherMainScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.test.TeacherMainScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentResScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.test.StudentResScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInfoScreen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.test.LogInfoScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentMainScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.test.StudentMainScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>